/* onload */
body.onload #aside .a_pop {
  visibility: hidden;
}
body.onload #aside .a_ai {
  visibility: hidden;
}
.u_skip {
  position: fixed; left: 0; top: 0; z-index: 999;
}
.u_skip a {
  position: absolute; left: 0; top: 0; width: 10rem; background: var(--ibk-blue); color: var(--basic-color-w); font-size: 1.5rem; line-height: 3rem; opacity: 0; pointer-events: none;
}
.u_skip a:focus-visible {
  opacity: 1; pointer-events: auto;
}

/* header */
#header {
  display: flex; align-items: center; position: fixed; top: 0; left: 0; right: 0; min-width: 102.4rem; z-index: 12; height: 8rem; background: var(--basic-color-w); box-shadow: 0 0 2rem 0 rgba(13, 14, 15, 0.04); width: auto; min-height: auto; margin: 0;
}
#header .h_wrap {
  display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; width: 100%; margin: 0 auto; max-width: 124.4rem; padding: 0 2.2rem;
}
#header .h_wrap > a{
  display: flex; align-items: center;
}
#header .h_menu {
  margin-left: 1.5rem;
}
#header .h_menu > ul {
  display: flex; align-items: center;
}
#header .h_menu > ul > li {
  position: relative;
}
#header .h_menu > ul > li.on {
  z-index: 2;
}
#header .h_menu > ul > li:not(:last-child) {
  margin-right: 4rem;
}
#header .h_menu > ul > li a.hm_direct {
  color: var(--ibk-blue); font-weight: 700;
}
#header .h_menu > ul a, #header .h_menu > ul button {
  display: block; position: relative; font-size: 1.8rem; font-weight: 500; line-height: 8rem; letter-spacing: normal;
}
#header .h_menu > ul > li > a:before, #header .h_menu > ul > li > button:before {
  content: ""; position: absolute; left: 0; right: 0; bottom: -1rem; height: 1rem;
}
#header .h_menu > ul > li > a:hover::after, #header .h_menu > ul > li > button:hover::after {
  content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.3rem; background: var(--ibk-blue);
}
#header .h_menu > ul > li > button.on::after {
  content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.3rem; background: var(--ibk-blue);
}
#header .h_menu > ul > li > a:hover + ul, #header .h_menu > ul > li > button:hover + ul, #header .h_menu > ul > li > ul:hover {
  display: block !important;
}
#header .h_menu .hm_sub::-webkit-scrollbar {
  width: 1rem;
}
#header .h_menu .hm_sub::-webkit-scrollbar-thumb {
  background-color: var(--ibk-blue); border-radius: 1rem; background-clip: padding-box; border: 0.2rem solid transparent;
}
#header .h_menu .hm_sub::-webkit-scrollbar-thumb:hover {
  background-color: var(--ibk-blue);
}
#header .h_menu .hm_sub::-webkit-scrollbar-track {
  background-color: var(--basic-color-w);
}
#header .h_function ul {
  display: flex; align-items: center;
}
#header .h_function button {
  display: flex; align-items: center; justify-content: center; width: 4rem; height: 4rem; background: var(--ibk-blue); border-radius: 100%;
}
#header .h_function button i {
  flex-shrink: 0; transition: 0.2s;
}
#header .h_function button i.close2 {
  display: none;
}
#header .h_function button.off i.apps {
  display: none;
}
#header .h_function button.off i.close2 {
  display: block;
}
#header .h_function button:hover {
  background-color: var(--secondary-color-1);
}
#header .h_function button:hover i {
  transform: rotate(90deg);
}
#header .h_function button:focus-visible {
  outline: 2px dashed #e21750;
}
#header .h_function a {
  display: flex; align-items: center; padding: 0 1.8rem; margin-right: 1rem; border-radius: 3rem; background: rgba(0,85,162,0.08); font-size: 1.5rem; font-weight: 700; color: var(--ibk-blue); letter-spacing: normal; line-height: 4rem; transition: 0.2s;
}
#header .h_function a:hover {
  background: var(--ibk-blue); color: var(--basic-color-w);
}
#header .h_function a i {
  margin-right: 0.6rem; background-image: url("../images/common/icon_line_b.svg"); transition: 0.2s;
}
#header .h_function a:hover i {
  margin-right: 0.6rem; background-image: url("../images/common/icon_line_w.svg");
}
/* hm_sub(서브메뉴), h_allview, menu_ani, ha_nav, nav_ani1~7, ha_wrap, ha_search, ha_sitemap 제외 */
/* hm_sub 추가 */
#header .h_menu .hm_sub::-webkit-scrollbar {
    width: 1rem;
}

#header .h_menu .hm_sub::-webkit-scrollbar-thumb {
    background-color: var(--ibk-blue);
    border-radius: 1rem;
    background-clip: padding-box;
    border: 0.2rem solid transparent;
}

#header .h_menu .hm_sub::-webkit-scrollbar-thumb:hover {
    background-color: var(--ibk-blue);
}

#header .h_menu .hm_sub::-webkit-scrollbar-track {
    background-color: var(--basic-color-w);
}


#header .h_menu .hm_sub {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 1;
    min-width: 24rem;
    border: 0.1rem solid var(--secondary-color-3);
    background: var(--basic-color-w);
    box-shadow: 0 0.5rem 1rem 0 rgba(13, 14, 15, 0.06);
    transform: translateX(-50%);
}

#header .h_menu .hm_sub a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: -0.032rem;
    white-space: nowrap;
    text-align: left;
}

#header .h_menu .hm_sub a:hover {
    text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
    text-decoration-color: rgba(13, 14, 15, 0.3);
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;
}

#header .h_menu .hm_sub a.on {
    background: var(--secondary-color-6);
}

/* 브레드크럼 바 */

#cate {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-top: 8rem;
    border-top: 0.1rem solid var(--secondary-color-6-line);
    border-bottom: 0.1rem solid var(--secondary-color-6-line);
    background: var(--secondary-color-6);
}
@media (max-width: 1280px) {
    #cate {
        margin-top: 7rem;
    }
}
@media (max-width: 1280px) {
    #cate .wrap {
        padding: 0;
    }
}
#cate .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.8rem;
    margin: 0 auto;
    text-align: left;
}
.wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 124.4rem;
    padding: 0 2.2rem;
}
#cate .c_wrap {
    display: flex;
    align-items: center;
}
#cate .c_wrap > a {
    border-right: 0.1rem solid var(--secondary-color-6-line)
}
@media (max-width: 1280px) {
    #cate .c_home {
        border-left: none;
    }
}
#cate .c_home {
    display: flex
;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 6rem;
    height: 5.8rem;
    border-left: 0.1rem solid var(--secondary-color-6-line);
    border-right: 0.1rem solid var(--secondary-color-6-line);
}
#cate .c_menu {
    display: flex;
    align-items: center;
}
#cate .c_menu > ul {
    display: flex;
    align-items: center;
}
#cate .c_menu > ul > li {
    position: relative;
    border-right: 0.1rem solid var(--secondary-color-6-line);
}
#cate .c_menu > ul > li > button {
    display: block;
    position: relative;
    min-width: 23.8rem;
    padding: 0 1.9rem;
    line-height: 5.8rem;
    text-align: left;
    letter-spacing: -0.032rem;
}
#cate .c_home:hover {
    background: var(--basic-color-w);
}
#cate .c_menu > ul > li > button:hover {
    background: var(--basic-color-w);
}
#cate .wrap > button:hover {
    background: var(--basic-color-w);
}
#cate .c_menu > ul > li > ul a:hover, #cate .c_menu > ul > li > ul button:hover {
    text-decoration: underline dotted;
    text-decoration-color: rgba(13, 14, 15, 0.3);
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;
}
#cate .c_menu > ul > li > span {
    display: block;
    box-sizing: border-box;
    min-width: 23.8rem;
    padding: 0 1.9rem;
    line-height: 5.8rem;
    text-align: left;
    letter-spacing: -0.032rem;
}
@media (max-width: 1280px) {
    #cate .c_menu > ul > li > span {
        min-width: 21rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 1280px) {
    #cate .c_menu > ul > li > button {
        min-width: 21rem;
        font-size: 1.5rem;
    }
}
#cate .c_menu > ul > li > button i {
    display: flex
;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.8rem;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(-50%);
    transition: 0.2s;
}
@media (max-height: 900px) {
    #cate .c_menu > ul > li > ul {
        overflow-y: auto;
        max-height: 35.2rem;
    }
}
#cate .c_menu > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    min-width: 17.5rem;
    border: 0.1rem solid var(--secondary-color-3);
    background: var(--basic-color-w);
    box-shadow: 0 0.5rem 1rem 0 rgba(13, 14, 15, 0.06);
}
#cate .c_menu > ul > li > ul li a.on {
    background: var(--secondary-color-6);
}
#cate .c_menu > ul > li > ul a, #cate .c_menu > ul > li > ul button {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: -0.032rem;
    white-space: nowrap;
    text-align: left;
}
@media (max-width: 1280px) {
    #cate .wrap > button {
        border-right: none;
    }
}
#cate .wrap > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 5.8rem;
    border-left: 0.1rem solid var(--secondary-color-6-line);
    border-right: 0.1rem solid var(--secondary-color-6-line);
}
#cate .c_menu > ul > li > ul::-webkit-scrollbar {
    width: 1rem;
}
#cate .c_menu > ul > li > ul::-webkit-scrollbar-thumb {
    background-color: var(--ibk-blue);
    border-radius: 1rem;
    background-clip: padding-box;
    border: 0.2rem solid transparent;
}
#cate .c_menu > ul > li > ul::-webkit-scrollbar-track {
    background-color: var(--basic-color-w);
}

/* 순서 변경 */
#header * {
    letter-spacing: inherit;
}
#header a {
    color: var(--secondary-color-1);
}
#header .ha_search .has_searchbox input {
    height: 3rem;
}

/* aside */
#aside {
  position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 11; pointer-events: none;
}
/* a_nav(하단메뉴) 제외 */
#aside .a_wrap {
  position: absolute; right: 0; top: 15rem; pointer-events: auto;
}
#aside .a_wrap {
  position: fixed; left: 0; bottom: 0; top: initial; width: 100%; pointer-events: none;
}
#aside .a_wrap.active {
  pointer-events: auto;
}
#aside .a_wrap {
  position: fixed; left: 0; bottom: 0; top: initial; width: 100%; pointer-events: none;
}
#aside .a_wrap.active {
  pointer-events: auto;
}
#aside .a_control {
  position: absolute; top: calc(100% + 2rem); right: 2rem; width: 6rem; height: 6rem; background: var(--secondary-color-1); border-radius: 100%; font-size: 1.3rem; font-weight: 600; line-height: 1.7rem; letter-spacing: -0.052rem; color: var(--basic-color-w); pointer-events: auto;
}
#aside .a_control:hover, #aside .a_control:focus-visible {
  background: var(--ibk-blue)
}
#aside .a_control .blind.t1::after {
  content: "";
}
#aside .a_control.on .blind.t1::after {
  content: "";
}
#aside .a_control .ac_deco {
  display: block; position: absolute; top: 50%; left: 50%; width: 1.6rem; height: 0.2rem; border-radius: 3rem; background: var(--basic-color-w); transform: translate(-50%, -50%)
}
#aside .a_control .ac_deco.t1 {
  transition: 0.2s
}
#aside .a_control .ac_deco.t1.trs {
  transition: none
}
#aside .a_control.on .ac_deco.t1 {
  transform: translate(-50%, -50%) rotate(90deg)
}
#aside .a_control {
  position: fixed; right: 2.2rem; bottom: 2rem; top: calc(100% - 6rem); width: 4rem; height: 4rem;
}
#aside .a_control .ac_deco {
  width: 1.2rem;
}
#aside .a_control .ac_deco.t1 {
  -webkit-transition: none;
}

/* a_fuction 오타 수정 */
#aside .a_function {
  position: absolute; right: 2rem; bottom: 2rem; font-size: 0; line-height: 0; pointer-events: auto;
}
#aside .a_function ul {
  display: inline-block; width: 6rem;
}
#aside .a_function ul li {
  display: inline-block; position: relative; float: left; right: 0; width: 100%; transition: 0.3s;
}
#aside .a_function ul li + li {
  margin-top: 1rem;
}
#aside .a_function ul li.af_popbanner {
  display: none;
}
#aside.ismain .a_function ul li.af_popbanner {
  display: inline-block;
}
#aside .a_function ul li button {
  display: inline-block; position: relative; width: 100%; border-radius: 50%; aspect-ratio: 1/1; font-size: 0; line-height: 0;
}
#aside .a_function ul li.af_ai button {
  overflow: hidden; z-index: 3;
}
#aside .a_function ul li.af_popbanner button {
  background-color: var(--basic-color-w); box-shadow: 0 1rem 3rem 0 rgba(13, 14, 15, 0.08);
}
#aside .a_function ul li.af_scrolltop button {
  background-color: var(--secondary-color-1);
}
#aside .a_function ul li.af_ai:hover button {
  background-color: var(--basic-color-w); box-shadow: 0 1rem 3rem 0 rgba(13, 14, 15, 0.08);
}
#aside .a_function ul li.af_ai:hover button i {
  background-image: url("../images/common/icon_ai_b.svg");
}
#aside .a_function ul li.af_ai:hover .afa_siri {
  display: none;
}
#aside .a_function ul li.af_popbanner:hover button i {
  background-image: url("../images/common/icon_line_w.svg");
}
#aside .a_function ul li.af_popbanner:hover button {
  background-color: var(--ibk-blue);
}
#aside .a_function ul li.af_popbanner:hover button .afp_count{
  background-color: var(--basic-color-w); color: var(--ibk-blue);
}
#aside .a_function ul li.af_scrolltop:hover button {
  background-color: var(--ibk-blue);
}
#aside .a_function ul li.af_ai button i {
  display: inline-block; width: 3.6rem; height: 3.6rem; background-image: url("../images/common/icon_ai.svg"); background-size: 100% auto; background-repeat: no-repeat; background-position: center;
}
#aside .a_function ul li.af_popbanner button .afp_count {
  position: absolute; right: 0; top: 0; width: 2rem; height: 2rem; border-radius: 50%; background-color: var(--ibk-blue); font-size: 1.3rem; font-weight: 500; color: var(--basic-color-w); line-height: 2rem; letter-spacing: -0.052rem;
}
#aside .a_function ul li.af_ai .afa_dim {
  display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh;
}
#aside .a_function ul li.af_ai .afa_dim.on {
  display: block;
}
#aside .a_function ul li.af_ai .afa_siri {
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}
#aside .a_function ul li.af_ai .afa_siri > i {
  position: absolute; left: 0.5rem; right: 0.5rem; top: 0.5rem; bottom: 0.5rem; z-index: 2; background-size: 100% auto; background-repeat: no-repeat; background-position: center; animation: ai_ani 4s linear infinite;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(1) {
  background-image: url("../images/common/icon_aiball01.svg"); animation-duration: 4.4s;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(2) {
  background-image: url("../images/common/icon_aiball02.svg"); animation-duration: 4.6s;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(3) {
  background-image: url("../images/common/icon_aiball03.svg"); animation-duration: 4.8s;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(4) {
  background-image: url("../images/common/icon_aiball04.svg"); animation-duration: 5s;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(5) {
  background-image: url("../images/common/icon_aiball05.svg"); animation-duration: 5.2s;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(6) {
  background-image: url("../images/common/icon_aiball06.svg"); animation: ai-ani_re 6s linear infinite;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(7) {
  background-image: url("../images/common/icon_aiball07.svg"); animation: ai-ani_re 3s linear infinite;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(8) {
  background-image: url("../images/common/icon_aiball08.svg"); animation: ai-ani_re 5s linear infinite;
}
#aside .a_function ul li.af_ai .afa_siri > i:nth-child(9) {
  background-image: url("../images/common/icon_aiball09.svg"); animation: ai-ani_re 4s linear infinite;
}
@keyframes ai_ani {
  0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }
}
@keyframes ai_ani_re {
  0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg {
  position: absolute; overflow: hidden; left: 0; right: 0; top: 0; bottom: 0; border-radius: 50%; pointer-events: none;
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ballwrap {
  position: absolute; overflow: hidden; left: 0; right: 0; top: 0; bottom: 0; border-radius: 50%; background-color: var(--ibk-blue);
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ball {
  position: absolute; left: 0; top: 0;
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ball i {
  position: absolute; left: 0; top: 0; width: 1rem; height: 1rem; background-image: url("../images/common/deco_aismallball02.png"); background-repeat: no-repeat; background-size: 100% auto; background-position: center; transform: scale(5);
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ball.p i {
  background-image: url("../images/common/deco_aismallball01.png");
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ball.t1 i {
  width: 1.5rem; height: 1.5rem;
}
#aside .a_function ul li.af_ai .afa_siri .afas_bg .afasb_ball.t2 i {
  width: 2rem; height: 2rem;
}
#aside .a_function ul li.af_ai.open button {
  background-color: var(--basic-color-w);
}
#aside .a_function ul li.af_ai.open button i {
  background-image: url("../images/common/icon_ai_b.svg");
}
#aside .a_function ul li.af_ai.open .afa_siri {
  display: none;
}
#aside .a_function ul li.af_scrolltop button i {
  position: relative; top: 0; transition: 0.3s;
}
#aside .a_function ul li.af_scrolltop button:hover i {
  top: -0.5rem;
}
#aside .a_ai {
  overflow: hidden; position: fixed; bottom: 1.5rem; right: -39rem; box-sizing: border-box; width: 39rem; height: 54rem; padding: 4rem; border-radius: 3.5rem; background-color: var(--ibk-blue); text-align: left; pointer-events: none; transition: 0.3s;
}
#aside.ismain .a_ai {
  bottom: 8.5rem;
}
#aside .a_ai.open {
  visibility: visible !important;
}
#aside .a_ai.open2 {
  right: 1.5rem; pointer-events: auto;
}
#aside .a_ai .aa_menu {
  display: inline-block; float: left; position: relative; z-index: 1; width: 100%;
}
#aside .a_ai .aa_menu strong, #aside .a_ai .aa_menu p {
  display: inline-block; float: left; width: 100%;
}
#aside .a_ai .aa_menu strong span {
  display: inline-block; float: left; width: 100%; font-size: 3rem; font-weight: 300; color: var(--basic-color-w); line-height: 4rem; letter-spacing: -0.12rem;
}
#aside .a_ai .aa_menu strong span mark {
  display: inline-block; font-weight: 600; color: var(--basic-color-w);
}
#aside .a_ai .aa_menu p {
  margin-top: 2.5rem; margin-bottom: 4rem;
}
#aside .a_ai .aa_menu p span {
  display: inline-block; float: left; width: 100%; font-size: 1.4rem; font-weight: 300; color: var(--basic-color-w); line-height: 2.5rem; letter-spacing: -0.056rem; opacity: 0.8;
}
#aside .a_ai .aa_menu p span mark {
  display: inline-block; font-weight: 600; color: var(--basic-color-w); text-decoration: underline; text-underline-position: under; text-decoration-thickness: 0.1rem;
}
#aside .a_ai .aa_menu ul, #aside .a_ai .aa_menu ul li {
  display: inline-block; float: left; width: 100%;
}
#aside .a_ai .aa_menu ul li + li {
  margin-top: 1rem;
}
#aside .a_ai .aa_menu ul li a {
  display: inline-block; float: left; box-sizing: border-box; width: 100%; padding: 1.5rem; padding-left: 2.5rem; border-radius: 3rem; background-color: var(--basic-color-w); font-size: 1.8rem; font-weight: 500; color: var(--ibk-blue); line-height: 3rem; letter-spacing: -0.072rem;
}
#aside .a_ai .aa_menu ul li a > i, #aside .a_ai .aa_menu ul li a > span {
  display: inline-block; float: left;
}
#aside .a_ai .aa_menu ul li a > i {
  position: relative; top: 0.5rem; margin-right: 1rem;
}
#aside .a_ai .aa_menu ul li a > .aam_more {
  display: inline-block; float: right; box-sizing: border-box; width: 3rem; height: 3rem; padding: 0.7rem; border-radius: 50%; background-color: var(--ibk-blue); transform: rotate(45deg);
}
#aside .a_ai .aa_menu ul li a > .aam_more i {
  float: left;
}
#aside .a_ai .aa_menu ul li a:hover {
  color: var(--secondary-color-1);
}
#aside .a_ai .aa_menu ul li a:hover > i {
  background-image: url("../images/common/icon_line.svg");
}
#aside .a_ai .aa_menu ul li a:hover > .aam_more {
  background-color: var(--secondary-color-1);
}
#aside .a_ai .aa_bg {
  position: absolute; overflow: hidden; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none;
}
#aside .a_ai .aa_bg .aab_ballwrap {
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}
#aside .a_ai .aa_bg .aab_ball {
  position: absolute; left: 0; top: 0;
}
#aside .a_ai .aa_bg .aab_ball i {
  position: absolute; left: 0; top: 0; width: 15rem; height: 15rem; background-image: url("../images/common/deco_aiball01.png"); background-repeat: no-repeat; background-size: 100% auto; background-position: center; transform: scale(10);
}
#aside .a_ai .aa_bg .aab_ball.p i {
  background-image: url("../images/common/deco_aiball02.png");
}
#aside .a_ai .aa_bg .aab_ball.w i {
  background-image: url("../images/common/deco_aiball03.png"); opacity: 0.5;
}
#aside .a_ai .aa_bg .aab_ball.t1 i {
  width: 20rem; height: 20rem;
}
#aside .a_ai .aa_bg .aab_ball.t2 i {
  width: 20rem; height: 30rem;
}
#aside .a_pop {
  display: inline-block; overflow: hidden; position: fixed; right: 1.5rem; bottom: -50rem; z-index: 10; width: 39rem; border: 0.5rem solid var(--basic-color-w); border-bottom: none; border-radius: 3rem; pointer-events: none; box-shadow: 0 0 9rem rgba(13, 14, 15, 0.25); transition: 0.5s;
}
#aside .a_pop.open {
  visibility: visible !important;
}
#aside .a_pop.open2 {
  bottom: 1.5rem; pointer-events: auto;
}
#aside .a_pop .ap_slide {
  display: inline-block; position: relative; float: left; width: 100%;
}
#aside .a_pop .ap_slide .slick-arrow {
  display: none !important;
}
#aside .a_pop .ap_slide a {
  display: inline-block; float: left; width: 100%; font-size: 0; line-height: 0;
}
#aside .a_pop .ap_slide a img {
  display: inline-block; width: 100%; height: auto;
}
#aside .a_pop .ap_slide .slick-slide, #aside .a_pop .ap_slide .slick-slide > div {
  display: inline-block; float: left; width: 100%; aspect-ratio: 1/1;
}
#aside .a_pop .slick-dots {
  display: inline-block; position: absolute; left: 4rem; bottom: 1rem; width: auto; margin-left: 1.5rem; padding: 1.1rem 0;
}
#aside .a_pop .slick-dots li {
  display: inline-block; float: left;
}
#aside .a_pop .slick-dots li + li {
  margin-left: 1rem;
}
#aside .a_pop .slick-dots li button {
  position: relative; width: 0.8rem; height: 0.8rem; margin: 0; border-radius: 1rem; background-color: #574767; transition: 0.3s; opacity: 1; font-size: 0; line-height: 0;
}
#aside .a_pop .slick-dots li button:hover {
  background-color: var(--secondary-color-1);
}
#aside .a_pop .slick-dots li button:before {
  content: ""; position: absolute; left: -0.5rem; right: -0.5rem; top: -0.5rem; bottom: -0.5rem;
}
#aside .a_pop .slick-dots li.slick-active button {
  width: 2.4rem; background-color: var(--secondary-color-1);
}
#aside .a_pop .ap_nav {
  display: inline-block; float: left; box-sizing: border-box; width: 100%; padding: 1rem 1.5rem; background-color: var(--basic-color-w);
}
#aside .a_pop .ap_nav .apn_control {
  display: inline-block; float: left; width: 3rem; height: 3rem;
}
#aside .a_pop .ap_nav .apn_control i {
  transform: scale(1.5);
}
/* font width -> weight으로 수정 */
#aside .a_pop .ap_nav .apn_close {
  display: inline-block; float: right; font-size: 1.5rem; font-weight: 400; color: var(--secondary-color-1); line-height: 3rem; letter-spacing: -0.06rem;
}
#aside .a_pop .ap_nav .apn_close button {
  padding: 0 0.5rem;
}
#aside .a_pop .ap_nav .apn_close button + button {
  margin-left: 1rem;
}
#aside .a_pop .ap_nav .apn_close button:hover { 
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(13, 14, 15, 0.3); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#aside .a_pop .ap_nav .apn_close i {
  float: left; position: relative; top: 0.7rem; margin-right: 0.5rem;
}
#aside .a_ad {
  display: none; position: absolute; left: 1rem; top: 15rem; pointer-events: auto;
}
#aside .a_ad.on {
  display: inline-block;
}
#aside .a_ad > ul {
  display: inline-block; float: left; width: 10rem;
}
#aside .a_ad > ul > li {
  display: inline-block; vertical-align: middle; float: left; width: 100%;
}
#aside .a_ad > ul > li + li {
  margin-top: 1rem;
}
#aside .a_ad > ul > li figure {
  font-size: 0; line-height: 0;
}
#aside .a_ad > ul > li img {
  width: 100%; height: auto;
}
#aside .a_ad > ul > li > * {
  display: inline-block; overflow: hidden; float: left; position: relative; top: 0; width: 100%; border-radius: 1.5rem; transition: 0.3s;
}
#aside .a_ad > ul > li > a:hover {
  top: -0.5rem;
}
#aside .a_ad > ul > li > a:hover {
  top: -0.5rem;
}
#aside .a_ad > ul > li > .aa_rate {
  box-sizing: border-box; padding: 1rem 0.5rem; background-color: var(--ibk-blue); color: var(--basic-color-w);
}
#aside .a_ad > ul > li > .aa_rate li {
  position: relative;
}
#aside .a_ad > ul > li > .aa_rate li + li {
  margin-top: 1rem; padding-top: 1rem;
}
#aside .a_ad > ul > li > .aa_rate li + li:before {
  content: ""; position: absolute; left: 0; right: 0; top: 0; height: 0.1rem; background-color: var(--basic-color-w); opacity: 0.1;
}
#aside .a_ad > ul > li > .aa_rate li > strong {
  font-size: 1.2rem; font-weight: 700; color: var(--basic-color-w); letter-spacing: -0.048rem;
}
#aside .a_ad > ul > li > .aa_rate li > em {
  display: inline-block; width: calc(100% - 0.5rem); margin-top: 0.4rem; margin-bottom: 1rem; border-radius: 1rem; background-color: rgba(13, 14, 15, 0.2); font-size: 1.1rem; font-weight: 400; color: var(--basic-color-w); line-height: 2rem; letter-spacing: -0.044rem;
}
#aside .a_ad > ul > li > .aa_rate li > span {
  display: inline-block; width: 100%; font-size: 1.1rem; font-weight: 400; color: var(--basic-color-w); line-height: 2rem; letter-spacing: -0.044rem;
}
#aside .a_ad > ul > li > .aa_rate li > span > mark {
  display: inline-block; vertical-align: middle; width: 2rem; margin-left: 0.2rem; border-radius: 0.5rem; background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.00) 100%), var(--ibk-red);
  font-size: 1.7rem; font-weight: 900; color: var(--basic-color-w); line-height: 2.4rem; letter-spacing: -0.068rem;
}
#aside .a_ad > ul > li > .aa_rate li > span > span {
  display: inline-block; vertical-align: middle; margin-left: 0.2rem; font-size: 1.3rem; font-weight: 900; color: var(--basic-color-w); line-height: 2.4rem; letter-spacing: -0.068rem;
}
#aside .a_ad > ul > li > .aa_rate li > a {
  display: inline-block; width: 100%; margin-top: 0.4rem; font-family: 'OpenSans'; font-size: 1.2rem; font-weight: 500; color: var(--basic-color-w); line-height: 1.5rem; letter-spacing: -0.024rem;
}
#aside .a_ad > ul > li > .aa_rate li > a:hover {
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(255, 255, 255, 0.4); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#aside .a_ad > ul > li > .aa_rate li > a:focus-visible {
  outline: 2px dashed #e21750;
}
#aside .a_ad > .aa_close {
  position: absolute; left: 50%; bottom: -4rem; width: 3rem; height: 3rem; margin-left: -1.5rem; border-radius: 50%; background-color: var(--secondary-color-1);
}
#aside .a_ad > .aa_close:hover {
  background-color: var(--ibk-blue);
}
#aside .a_ad > .aa_close i {
  vertical-align: middle; transition: 0.3s;
}
#aside .a_ad > .aa_close:hover i {
  transform: rotate(90deg);
}

/* cate, loading 일단 보류 */

/* footer */
/* container, charge_area, p_box 생략 */
/* 250715 p_box 추가 */
#footer {
  display: inline-block; width: 100%; padding-top: 2rem; border-top: 0.1rem solid var(--secondary-color-6-line); font-size: 1.4rem;
}
#footer .wrap {
  height: auto;
}
#footer .f_top {
  display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem;
}
#footer .f_top ul {
  display: flex; align-items: center;
}
#footer .f_check a {
  display: block; font-weight: 500; letter-spacing: -0.07rem;
}
#footer .f_check li:not(:last-child) {
  margin-right: 1rem;
}
#footer .f_function > li:not(:last-child) {
  margin-right: 1.5rem;
}
#footer .f_function > li > a {
  display: flex; align-items: center; padding: 0.5rem 1rem 0.5rem 1.5rem; border-radius: 3rem; background: var(--secondary-color-6); font-weight: 500; line-height: 3rem;
}
#footer .f_function .ff_familysite {
  display: flex; align-items: center; justify-content: space-between; position: relative; width: 20rem; padding: 0.5rem 1rem 0.5rem 1.5rem; border-radius: 3rem; background: var(--secondary-color-6); font-weight: 500; line-height: 3rem; color: var(--secondary-color-1); cursor: pointer;
}
#footer .f_function .ff_familysite.on {
  background: var(--ibk-blue); border-radius: 0 0 2rem 2rem; color: var(--basic-color-w); box-shadow: 0 1rem 2rem 0 rgba(0, 85, 162, 0.30);
}
#footer .f_function .ff_familysite:hover {
  background: var(--ibk-blue); color: var(--basic-color-w)
}
#footer .f_function > li > a::before {
  content: ""; display: block; width: 1.6rem; height: 1.6rem; margin-right: 1rem; background-size: 1100% auto; background-repeat: no-repeat;
}
#footer .f_function .ff_familysite span::before {
  content: ""; display: block; width: 1.6rem; height: 1.6rem; margin-right: 1rem; background-size: 1100% auto; background-repeat: no-repeat; background-image: url("../images/common/icon_line_b.svg"); background-position: 70% -6.4rem;
}
#footer .f_function .ff_familysite.on span::before, #footer .f_function .ff_familysite:hover span::before {
  content: ""; display: block; width: 1.6rem; height: 1.6rem; margin-right: 1rem; background-size: 1100% auto; background-repeat: no-repeat; background-image: url("../images/common/icon_line_w.svg"); background-position: 70% -6.4rem;
}
#footer .f_function > li:nth-child(1) > a::before {
  background-image: url("../images/common/icon_line.svg"); background-position: 90% -4.8rem;
}
#footer .f_function > li:nth-child(2) > a::before {
  background-image: url("../images/common/icon_line.svg"); background-position: 80% -14.4rem;
}
#footer .f_function li a > i, #footer .f_function li select + i {
  display: flex; align-items: center; justify-content: center; width: 2rem; height: 2rem; border-radius: 100%; background: var(--basic-color-w); transform: rotate(45deg);
}
#footer .f_function li a:hover > i {
  background: var(--ibk-blue);
}
#footer .f_function li a:hover > i i {
  background-image: url("../images/common/icon_line_w.svg");
}
#footer .f_function li a span {
  width: 8.1rem; margin-right: 0.8rem; font-weight: 500; text-align: left; letter-spacing: -0.056rem;
}
#footer .f_function li:last-child a span {
  width: 12.7rem;
}
#footer .f_function a > i {
  overflow: hidden;
}
#footer .f_function .ff_familysite.on > i {
  background: #00000033; transform: rotate(-180deg) translateY(50%);
}
#footer .f_function .ff_familysite:hover > i {
  background: #00000033;
}
#footer .f_function .ff_familysite span {
  display: flex; position: relative; align-items: center;
}
#footer .f_function .ff_familysite span:after {
  content: ""; position: absolute; opacity: 0;
}
#footer .f_function .ff_familysite.on span:after {
  content: "";
}
#footer .f_function .ff_familysite > i {
  display: flex; align-items: center; justify-content: center; position: absolute; right: 1rem; top: 50%; width: 2rem; height: 2rem; border-radius: 100%; background: #fff; transform: translateY(-50%);
}
#footer .f_function .ff_familysite.on > i i, #footer .f_function .ff_familysite:hover > i i {
  background-image: url("../images/common/icon_line_w.svg");
}
#footer .f_function .ff_familysite ul {
  display: none; position: absolute; bottom: 100%; left: 0; z-index: 1; width: 17rem; padding: 1.5rem; border-radius: 2rem 2rem 0 0; border-bottom: 0.1rem solid #ffffff0f; background: var(--ibk-blue); box-shadow: 0 1rem 2rem 0 rgba(0, 85, 162, 0.30);
}
#footer .f_function .ff_familysite.on ul {
  display: block !important;
}
#footer .f_function .ff_familysite ul li + li {
  margin-top: 0.5rem;
}
#footer .f_function .ff_familysite ul a {
  display: block; padding: 0 1rem; text-align: left; color: var(--basic-color-w);
}
#footer .f_function .ff_familysite ul a:not(:last-child) {
  margin-bottom: 0.5rem;
}
#footer .f_function .ff_familysite ul a:hover {
  border-radius: 0.5rem; background: var(--basic-color-w); color: var(--ibk-blue);
}
#footer .f_function .ff_familysite ul a:focus-visible {
  outline: 2px dashed #e21750;
}
#footer .f_wrap.t1 {
  padding: 2rem 0; margin-bottom: 2rem; background: var(--secondary-color-6);
}
#footer .f_terms ul {
  display: flex; align-items: center;
}
#footer .f_terms a, #footer .f_terms button {
  flex-shrink: 0; font-size: 1.5rem; font-weight: 500; line-height: 3rem; letter-spacing: -0.06rem;
}
#footer .f_terms a:hover {
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(13, 14, 15, 0.3); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#footer .f_terms li {
  display: flex; align-items: center;
}
#footer .f_terms li:not(:last-child)::after {
  content: ""; display: block; flex-shrink: 0; width: 0.4rem; height: 0.4rem; margin: 0 1.6rem; border-radius: 100%; background: var(--secondary-color-1);
}
#footer.f_istablet .f_terms li:not(:last-child)::after {
  margin: 0 1rem;
}
#footer .f_cs {
  display: flex; align-items: center; justify-content: space-between; padding-top: 2rem; margin-bottom: 4rem;
}
#footer .f_cs > div {
  display: flex; align-items: center;
}
#footer .f_cs h3 {
  display: flex; align-items: center; flex-shrink: 0; margin-right: 4rem; font-size: 1.8rem; font-weight: 700; line-height: 3rem;
}
#footer .f_cs h3 i {
  margin-right: 0.6rem;
}
#footer .f_cs .fc_ars {
  flex-shrink: 0; margin-right: 8rem; padding: 0 1.4rem; border: 0.1rem solid var(--ibk-blue); border-radius: 2rem; font-weight: 500; color: var(--ibk-blue); line-height: 2.8rem; letter-spacing: -0.07rem;
}
#footer .f_cs .fc_ars:hover {
  background-color: var(--ibk-blue); color: var(--basic-color-w);
}
#footer .f_cs ul {
  display: flex; align-items: center; flex-shrink: 0;
}
#footer .f_cs li {
  display: flex; align-items: center;
}
#footer .f_cs li i {
  margin-right: 0.5rem;
}
#footer .f_cs li strong {
  min-width: 6.5rem; margin-right: 2rem; font-size: 1.8rem; line-height: 3rem; letter-spacing: -0.072rem; text-align: left;
}
#footer .f_cs li a {
  font-family: "OpenSans"; font-weight: 500; font-size: 2.2rem; letter-spacing: -0.044rem; line-height: 3rem;
}
#footer .f_cs li a:hover {
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(13, 14, 15, 0.3); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#footer .f_cs li a:not(:last-child) {
  margin-right: 2.4rem;
}
#footer .f_cs li:not(:last-child) {
  margin-right: 5.4rem;
}
#footer .f_cs > span {
  flex-shrink: 0; font-size: 1.2rem; font-weight: 400; color: var(--secondary-color-3); line-height: 3rem; letter-spacing: -0.048rem;
}
#footer .f_info {
  display: flex; padding-bottom: 2rem; margin-bottom: 2rem;
}
#footer .f_info > div {
  width: 50%; text-align: left;
}
#footer .f_info > div:last-child {
  display: flex;
}
#footer .f_info ul {
  display: flex; flex-wrap: wrap; margin-bottom: 1rem;
}
#footer .f_info li {
  display: flex; align-items: center; font-size: 1.5rem; font-weight: 400; line-height: 3rem; letter-spacing: -0.06rem;
}
#footer .f_info li a:hover {
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(13, 14, 15, 0.3); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#footer .f_info li:nth-child(1) {
  width: 100%; margin-bottom: 0.5rem;
}
#footer .f_info li:nth-child(2)::after, #footer .f_info li:nth-child(3)::after {
  content: ""; display: block; width: 0.1rem; height: 1.2rem; margin: 0 1.5rem; background: var(--secondary-color-5);
}
#footer .f_info .fi_copyright {
  font-family: "OpenSans"; font-weight: 600; font-size: 1.2rem; line-height: 3rem; letter-spacing: -0.048rem;
}
#footer .f_info .fi_qr {
  overflow: hidden; flex-shrink: 0; width: 10rem; height: 10rem; margin-right: 3rem; background: var(--basic-color-w); border-radius: 1.5rem; box-shadow: 0 1rem 3rem 0 rgba(13, 14, 15, 0.08);
}
#footer .f_info .fi_qr img {
  width: 100%;
}
#footer .f_info .fi_qrlink {
  display: flex; align-items: center; padding-top: 0.4rem; margin-bottom: 1rem; font-size: 1.8rem; font-weight: 700; line-height: 3rem;
}
#footer .f_info .fi_qrlink:hover {
  text-decoration: underline dotted; -webkit-text-decoration: underline dotted; text-decoration-color: rgba(0, 85, 162, 0.4); text-decoration-thickness: 0.1rem; text-underline-offset: 0.3rem;
}
#footer .f_info .fi_qrlink i {
  margin-right: 0.6rem;
}
#footer .f_info span {
  font-size: 1.5rem; font-weight: 400; line-height: 2.5rem; letter-spacing: -0.06rem;
}
#footer .f_info mark {
  display: block; font-size: 1.2rem; font-weight: 400; line-height: 2.5rem; letter-spacing: -0.048rem; color: var(--secondary-color-3);
}

/* p_box */
.p_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 1.9rem 3rem;
    margin-top: -1rem;
    margin-bottom: 6rem;
    border: 0.1rem solid var(--secondary-color-5);
    border-radius: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.032rem;
    color: var(--secondary-color-1);
}
.p_box > .p_charge {
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
}
.p_box > p, .p_box span {
    display: flex;
    align-items: center;
}
.p_box p mark:not(:first-child) {
    margin-left: 2rem;
}
.p_box p span {
    margin-left: 3rem;
    font-family: "OpenSans";
    font-weight: 400 !important;
    color: var(--secondary-color-1) !important;
}
.charge_area {
    overflow: visible;
    width: 100%;
    padding-bottom: 0;
}
/* wrap, container, content */
#wrap {
    background: none;
}
#container {
    margin-top: 8rem; font: initial; font-family: 'ibkiDream', Dotum, sans-serif; font-size: 12px; color: #575757; text-align: left;
}
#content .paging {
    margin: 0;
}
#content legend, #content caption {
    width: 0; height: 0; font-size: 0; line-height: 0;
}
#content .select {
    height: 21px; padding: 1px; border: 1px solid #e5e5e5; border-radius: 0; background: none; font-size: 12px; color: #575757; line-height: 18px; letter-spacing: 0;
}
#content select {
    border: 1px solid #e5e5e5; border-radius: 0; -webkit-appearance: revert; -moz-appearance: revert; appearance: revert;
}
#content th, #content dl.dl_list03, #content strong, #content b {
    font-weight: 700;
}
#content .tbl_list_srch input {
    width: 146px;
}

/* 반응형 */
@media (max-height: 900px) {
  #aside a_function {
    bottom: 10rem; right: 2.2rem;
  }
  #aside .a_function ul {
    width: 4rem;
  }
  #aside .a_function ul li.af_popbanner button i {
    transform: scale(0.857)
  }
  #aside .a_function ul li.af_popbanner button .afp_count {
    right: -0.5rem; top: -0.5rem;
  }
  #aside .a_wrap {
    position: fixed; left: 0; bottom: 0; top: initial; width: 100%; pointer-events: none;
  }
  #aside .a_wrap.active {
    pointer-events: auto;
  }
  #aside .a_control {
    position: fixed; right: 2.2rem; bottom: 2rem; top: calc(100% - 6rem); width: 4rem; height: 4rem;
  }
  #aside .a_control .ac_deco {
    width: 1.2rem;
  }
  #aside .a_control .ac_deco.t1 {
    -webkit-transition: none;
  }
  #aside .a_function ul li.af_ai button i {
    width: 2.8rem; height: 2.8rem;
  }
  #aside .a_ai {
    bottom: 14.5rem;
  }
  #aside .a_ai.open2 {
    right: 8.4rem;
  }
  /* #footer {
    padding-bottom: 8rem;
  } */
  /* #footer.on {
    padding-bottom: 0;
  } */
}

@media (max-height: 840px) {
  #aside .a_ai.open2 {
    height: auto;
  }
  #header .h_menu .hm_sub {
    max-height: 35.1rem; overflow-y: auto;
  }
}

@media (max-width: 1440px) {
  #aside .a_function {
    bottom: 10rem; right: 2.2rem;
  }
  #aside .a_function ul {
    width: 4rem;
  }
  #aside .a_function ul li.af_popbanner button i {
    transform: scale(0.857);
  }
  #aside .a_function ul li.af_popbanner button .afp_count {
    right: -0.5rem; top: -0.5rem;
  }
  #aside .a_wrap {
    position: fixed; left: 0; bottom: 0; top: initial; width: 100%; pointer-events: none;
  }
  #aside .a_wrap.active {
    pointer-events: auto;
  }
  #aside .a_control {
    position: fixed; right: 2.2rem; bottom: 2rem; top: calc(100% - 6rem); width: 4rem; height: 4rem;
  }
  #aside .a_control .ac_deco {
    width: 1.2rem;
  }
  #aside .a_control .ac_deco.t1 {
    -webkit-transition: none;
  }
  #aside .a_function ul li.af_ai button i {
    width: 2.8rem; height: 2.8rem;
  }
  #aside .a_ai {
    bottom: 9.5rem; border-radius: 3rem;
  }
  #aside.ismain .a_ai {
    bottom: 14.5rem;
  }
  #aside .a_ad {
    display: none !important;
  }
  #aside .a_function.off .af_ai #aside .a_function.off .af_popbanner {
    right: -8rem;
  }
  #aside .a_ai.open2.off {
    right: -39rem;
  }
  /* #footer {
    padding-bottom: 8rem;
  }
  #footer.on {
    padding-bottom: 0;
  } */
}

@media (max-width: 1280px) {
  #header {
    height:7rem;
  }
  #header .h_menu {
    margin-left: 3.1rem;
  }
  #header .h_menu > ul a, #header .h_menu > ul button {
    font-size: 1.6rem; line-height: 7rem;
  }
  #header .h_wrap > a {
    width: 13.6rem;
  }
  #header .h_wrap > a img {
    width: 100%;
  }
  #header .h_menu > ul > li:not(:last-child) {
    margin-right: 3rem;
  }
  #header .h_function a {
    font-size: 1.4rem;
  }

  /* footer */
  #footer {
    font-size: 1.3rem;
  }
  #footer .f_wrap.t1 .wrap {
    padding: 0 2.45rem;
  }
  #footer .f_check a {
    letter-spacing: -0.065rem;
  }
  #footer .f_cs {
    margin-bottom: 3rem;
  }
  #footer .f_cs h3 {
    margin-right: 1.2rem; font-size: 1.6rem; letter-spacing: 0
  }
  #footer .f_terms a, #footer .f_terms button {
    font-size: 1.3rem;
  }
  #footer .f_terms li:not(:last-child)::after {
    width: 0.3rem; height: 0.3rem; margin: 0 1rem;
  }
  #footer .f_function li .ff_familysite select {
    width: 10.3rem;
  }
  #footer .f_cs ul {
    justify-content: center; flex-shrink: unset; width: 100%;
  }
  #footer .f_cs li strong {
    min-width: 5.5rem; margin-right: 1rem; font-size: 1.6rem; letter-spacing: -0.064rem;
  }
  #footer .f_cs li a {
    font-size: 2rem; letter-spacing: -0.04rem;
  }
  #footer .f_cs > div {
    width: 100%
  }
  #footer .f_cs > div > div {
    flex-shrink: 0
  }
  #footer .f_cs div > strong {
    margin-right: 5rem;
  }
  #footer .f_cs li:not(:last-child) {
    margin-right: 2.6rem;
  }
  #footer .f_cs li a:not(:last-child) {
    margin-right: 1.4rem;
  }
  #footer .f_cs .fc_ars {
    margin-right: 0; letter-spacing: -0.065rem
  }
  #footer .f_info li {
    font-size: 1.4rem; line-height: 2.5rem; letter-spacing: -0.056rem;
  }
  #footer .f_info .fi_copyright {
    line-height: 2.5rem;
  }
  #footer .f_info .fi_qr {
    width: 9rem; height: 9rem; margin-right: 2rem;
  }
  #footer .f_info li:nth-child(2)::after, #footer .f_info li:nth-child(3)::after {
    margin: 0 1rem;
  }
  #footer .f_info strong {
    font-size: 1.6rem;
  }
  #footer .f_info span {
    font-size: 1.4rem; line-height: 2rem; letter-spacing: -0.056rem;
  }
  #footer .f_info mark {
    font-size: 1.2rem; line-height: 2rem; letter-spacing: -0.048rem;
  }
  #footer .f_info > div {
    width: auto;
  }
  #footer .f_info > div:last-child {
    flex-shrink: 0; width: 52.2%;
  }
  #footer .f_function li a span {
    width: 6.1rem;
  }
  #footer .f_function .ff_familysite {
    width: 18rem;
  }
  #footer .f_function .ff_familysite ul {
    width: 15rem;
  }
  #footer .f_info .fi_qrlink {
    font-size: 1.6rem; letter-spacing: 0
  }
}

@media (max-width: 1100px) {
  #footer.f_istablet .f_terms li:not(:last-child)::after {
    margin:0 0.6rem;
  }
}

@media (max-width: 1024px) {
  #aside .a_pop .ap_slide {
    top:0.1rem;
  }
}

@media (max-height: 900px) {
  #aside .a_function {
    bottom: 10rem; right: 2.2rem;
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  #aside .a_control {
    position: absolute;
    top: calc(100% - 27.5rem);
    right: 2rem;
    width: 6rem;
    height: 6rem;
    background: var(--secondary-color-1);
    border-radius: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.7rem;
    letter-spacing: -0.052rem;
    color: var(--basic-color-w);
    pointer-events: auto;
  }
  #aside .a_control .ac_deco, .ac_deco.t1 {
    width: 1.6rem;
  }
}

/* 모바일 */
/* @media (max-width: 1033px) {
  /* 헤더 */
  /* #header {
    min-width: auto;
  }
  #header .h_wrap .h_menu ul {
    display: none;
  } */

  /* 첫 번째 영역 */
  /* .cm_area {
    display: flex !important;
    flex-direction: column;
  }

  .cm_hero.cm_left {
    margin-bottom: 3rem;
  }

  .cm_hero.cm_left {
    width: calc(100vw - 5rem) !important;
  }
  .cm_nav.cm_right {
    width: 100vw !important;
    padding-left: 0 !important;
    padding-right: 5rem;
  }

  #contents.c_main .cm_nav ul li a {
    border: 0.5rem solid transparent;
  }

  #contents.c_main .cm_nav ul li a > strong {
    font-size: 3rem !important;
  }

  #contents.c_main .cm_nav ul li a > span {
    font-size: 2.5rem !important;
    margin-top: 1.5rem;
  } */

  /* 두 번째 영역 */
  /* .cm_info {
    display: flex !important;
    width: calc(100vw - 5rem) !important;
  }
  #contents.c_main .cm_info ul li .cmi_box strong {
    font-size: 20px !important;
  }
  #contents.c_main .cm_info ul li .cmi_box p span {
    font-size: 16px;
  } */

  /* 세 번째 영역 */
  /* #contents.c_main .cm_board .cmb_list ul {
    display: grid !important;
    gap: 2rem;
  }
  #contents.c_main .cm_board .cmb_title {
    width: calc(100vw - 6rem) !important;
  }
  #contents.c_main .cm_board .cmb_list ul li {
    width: calc(100vw - 4rem) !important;
  }
  #contents.c_main .cm_board .cmb_list ul li:nth-child(n + 3){
    margin-top: 0 !important;
  } */

  /* 네 번째 영역 */
  /* #contents.c_main .cm_inquiry ul {
    display: grid !important;
    gap: 2rem;
  }
  #contents.c_main .cm_inquiry {
    width: calc(100vw - 4rem) !important;
  }
  #contents.c_main .cm_inquiry ul li {
    width: 100% !important;
  }

  #footer {
    display: none;
  }

  html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
/* } */